network:
  version: 2
  renderer: networkd
  ethernets:
    {{ interface_name }}:
      dhcp4: no
      optional: true  # Prevents boot delay if cable is unplugged
  vlans:
    vlan{{ vlan_id }}:
      id: {{ vlan_id }}
      link: {{ interface_name }}
      addresses:
        - {{ vlan_ip_address }}/24
      routes:
        - to: default
          via: {{ gateway_ip }}
      nameservers:
        addresses: [8.8.8.8, 8.8.4.4]
