network:
  version: 2
  renderer: networkd
  ethernets:
    {{ interface_name }}:
      dhcp4: no
      optional: true  # <--- Avoid log retries when not present.

  wifis:
    wlp2s0:  # Adjust to your specific interface name (use 'ip -o link show' to verify)
      optional: true  # Prevents boot delay if connection fails
      dhcp4: yes      # Most Wi-Fi routers will handle the IP assignment
      access-points:
        "{{ wifi_ssid }}":
          password: "{{ wifi_password }}"